
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

Options -Indexes

RewriteEngine On
#RewriteBase /
RewriteRule ^api/v1/(.*)$ api.php?q=/$1 [L,QSA]

